<a href="https://colab.research.google.com/github/dilanbakr/artificalQuestionPredict/blob/main/sorucevap.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from keras.layers import Input, Dense, Embedding, Concatenate, Flatten, Dropout
from keras.models import Model, Sequential
from keras import optimizers
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from scipy import spatial

In [ ]:
ratings = pd.read_csv("sorucevapDataset.txt")

In [ ]:
ratings.head()

   userId  soruId  rating answerGenres       genres
0       1       1       1            Y     kesirler
1       1       2       1            D     integral
2       1       3       1            Y  dil bilgisi
3       1       4       1            B        turev
4       1       5       2            Y     kesirler

In [ ]:
ansGenres= ratings.groupby(['userId','answerGenres']).count()
ansGenres

                     soruId  rating  genres
userId answerGenres
1      B                  5       5       5
       D                  7       7       7
       Y                  8       8       8
2      B                  2       2       2
       D                  8       8       8
       Y                 10      10      10
3      D                 16      16      16
       Y                  4       4       4
4      B                  5       5       5
       D                  2       2       2
       Y                 13      13      13

In [ ]:
 def create_dataset(ratings):
    ratings.groupby('userId')['rating'].count()
    unique_users = ratings.userId.unique()
    user_to_index = {old: new for new, old in enumerate(unique_users)}
    new_users = ratings.userId.map(user_to_index)
    unique_soru = ratings.soruId.unique()
    soru_to_index = {old: new for new, old in enumerate(unique_soru)}
    new_soru = ratings.soruId.map(soru_to_index)
    n_users = unique_users.shape[0]
    n_soru = unique_soru.shape[0]
    X = pd.DataFrame({'user_id': new_users, 'soru_id': new_soru})
    y = ratings['rating'].astype(np.float32)
    return (n_users, n_soru), (X, y), (user_to_index, soru_to_index)

In [ ]:
(n, m), (X, y), (user_to_index,soru_to_index) = create_dataset(ratings)
print(f'Embeddings: {n} users, {m} movies')
print(f'Dataset shape: {X.shape}')
print(f'Target shape: {y.shape}')

Embeddings: 4 users, 20 movies
Dataset shape: (80, 2)
Target shape: (80,)

In [ ]:
ratings["user_id_index"] = ratings["userId"].apply(lambda x: user_to_index[x])

In [ ]:
ratings["soru_id_index"] = ratings["soruId"].apply(lambda x: soru_to_index[x])

In [ ]:
#öğrenci seviyesini belirliyorum
ansGenres= ratings.groupby(['userId','answerGenres']).count()
userLevelarray = []
unique_users = ratings.userId.unique()
countUniqeSoru = ratings.soruId.unique().size
countTrueSoru = ratings[ratings['answerGenres'] =='D']
for i in unique_users:
  userLevel = (countTrueSoru[countTrueSoru['userId'] == i]['soruId'].count()/countUniqeSoru)*10
  userLevelarray.append(int(userLevel))
  #print(userLevel)
userLevelarray
ratings["studentlevel"] = ratings["user_id_index"].apply(lambda x: userLevelarray[x])
ratings.head(21)

    userId  soruId  rating  ... user_id_index soru_id_index  studentlevel
0        1       1       1  ...             0             0             3
1        1       2       1  ...             0             1             3
2        1       3       1  ...             0             2             3
3        1       4       1  ...             0             3             3
4        1       5       2  ...             0             4             3
5        1       6       2  ...             0             5             3
6        1       7       2  ...             0             6             3
7        1       8       2  ...             0             7             3
8        1       9       3  ...             0             8             3
9        1      10       3  ...             0             9             3
10       1      11       3  ...             0            10             3
11       1      12       3  ...             0            11             3
12       1      13       4  ...             0            12             3
13       1      14       4  ...             0            13             3
14       1      15       4  ...             0            14             3
15       1      16       4  ...             0            15             3
16       1      17       5  ...             0            16             3
17       1      18       5  ...             0            17             3
18       1      19       5  ...             0            18             3
19       1      20       5  ...             0            19             3
20       2       1       1  ...             1             0             4

[21 rows x 8 columns]

In [ ]:
sl = ratings["studentlevel"].unique().shape[0]
gn = ratings["genres"].unique().shape[0]
ratings["studentlevel"].unique()

array([3, 4, 8, 1])

In [ ]:
sl

4

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range=(0,1))
y_normalized = scaler.fit_transform(y.to_numpy().reshape(-1, 1))
y_normalized = y_normalized.ravel()

In [ ]:
y_normalized

array([0.  , 0.  , 0.  , 0.  , 0.25, 0.25, 0.25, 0.25, 0.5 , 0.5 , 0.5 ,
       0.5 , 0.75, 0.75, 0.75, 0.75, 1.  , 1.  , 1.  , 1.  , 0.  , 0.  ,
       0.  , 0.  , 0.25, 0.25, 0.25, 0.25, 0.5 , 0.5 , 0.5 , 0.5 , 0.75,
       0.75, 0.75, 0.75, 1.  , 1.  , 1.  , 1.  , 0.  , 0.  , 0.  , 0.  ,
       0.25, 0.25, 0.25, 0.25, 0.5 , 0.5 , 0.5 , 0.5 , 0.75, 0.75, 0.75,
       0.75, 1.  , 1.  , 1.  , 1.  , 0.  , 0.  , 0.  , 0.  , 0.25, 0.25,
       0.25, 0.25, 0.5 , 0.5 , 0.5 , 0.5 , 0.75, 0.75, 0.75, 0.75, 1.  ,
       1.  , 1.  , 1.  ], dtype=float32)

In [ ]:
input_user = Input(shape=(1,), dtype='int32', name='user_input')
input_soru = Input(shape=(1,), dtype='int32', name='soru_input')
input_studentlevel = Input(shape=(1,), dtype='int32', name='student_input')

x_1 = Embedding(output_dim=50, input_dim=n, input_length=1, name="user_embeddings")(input_user)
x_2 = Embedding(output_dim=50, input_dim=m, input_length=1, name="soru_embeddings")(input_soru)
x_3 = Embedding(output_dim=50, input_dim=sl+10, input_length=1, name="studentlevel_embeddings")(input_studentlevel)


x = Concatenate()([x_1, x_2, x_3])
x1_f = Flatten()(x)
x1 = Dropout(0.05)(x1_f)
x2_f = Dense(300, activation='relu')(x1)
x2 = Dropout(0.5)(x2_f)
x3_f = Dense(300, activation='relu')(x2)
x3 = Dropout(0.5)(x3_f)
x4 = Dense(300, activation='relu')(x3)
x4_f = Dropout(0.25)(x4)
pred = Dense(1, activation='linear')(x4_f)

model = Model(inputs=[input_user, input_soru, input_studentlevel], outputs=pred)
model.compile(optimizer='adam',
              loss='mean_squared_error',
              metrics=['mse'])

In [ ]:
model.summary()

Model: "model_23"
__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
user_input (InputLayer)         (None, 1)            0
__________________________________________________________________________________________________
soru_input (InputLayer)         (None, 1)            0
__________________________________________________________________________________________________
student_input (InputLayer)      (None, 1)            0
__________________________________________________________________________________________________
user_embeddings (Embedding)     (None, 1, 50)        200         user_input[0][0]
__________________________________________________________________________________________________
soru_embeddings (Embedding)     (None, 1, 50)        1000        soru_input[0][0]
__________________________________________________________________________________________________
studentlevel_embeddings (Embedd (None, 1, 50)        700         student_input[0][0]
__________________________________________________________________________________________________
concatenate_23 (Concatenate)    (None, 1, 150)       0           user_embeddings[0][0]
                                                                 soru_embeddings[0][0]
                                                                 studentlevel_embeddings[0][0]
__________________________________________________________________________________________________
flatten_23 (Flatten)            (None, 150)          0           concatenate_23[0][0]
__________________________________________________________________________________________________
dropout_89 (Dropout)            (None, 150)          0           flatten_23[0][0]
__________________________________________________________________________________________________
dense_89 (Dense)                (None, 300)          45300       dropout_89[0][0]
__________________________________________________________________________________________________
dropout_90 (Dropout)            (None, 300)          0           dense_89[0][0]
__________________________________________________________________________________________________
dense_90 (Dense)                (None, 300)          90300       dropout_90[0][0]
__________________________________________________________________________________________________
dropout_91 (Dropout)            (None, 300)          0           dense_90[0][0]
__________________________________________________________________________________________________
dense_91 (Dense)                (None, 300)          90300       dropout_91[0][0]
__________________________________________________________________________________________________
dropout_92 (Dropout)            (None, 300)          0           dense_91[0][0]
__________________________________________________________________________________________________
dense_92 (Dense)                (None, 1)            301         dropout_92[0][0]
==================================================================================================
Total params: 228,101
Trainable params: 228,101
Non-trainable params: 0
__________________________________________________________________________________________________

In [ ]:
model.fit([X.user_id.to_numpy(), X.soru_id.to_numpy(),ratings['studentlevel'].to_numpy()], y_normalized,
          epochs=10,
          batch_size=256,
          validation_split=0.25
          )

/usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/indexed_slices.py:434: UserWarning: Converting sparse IndexedSlices to a dense Tensor of unknown shape. This may consume a large amount of memory.
  "Converting sparse IndexedSlices to a dense Tensor of unknown shape. "

Train on 60 samples, validate on 20 samples
Epoch 1/10
60/60 [==============================] - 0s 4ms/step - loss: 0.3894 - mse: 0.3894 - val_loss: 0.3283 - val_mse: 0.3283
Epoch 2/10
60/60 [==============================] - 0s 163us/step - loss: 0.3271 - mse: 0.3271 - val_loss: 0.2853 - val_mse: 0.2853
Epoch 3/10
60/60 [==============================] - 0s 180us/step - loss: 0.2776 - mse: 0.2776 - val_loss: 0.2416 - val_mse: 0.2416
Epoch 4/10
60/60 [==============================] - 0s 189us/step - loss: 0.2223 - mse: 0.2223 - val_loss: 0.1994 - val_mse: 0.1994
Epoch 5/10
60/60 [==============================] - 0s 185us/step - loss: 0.1693 - mse: 0.1693 - val_loss: 0.1611 - val_mse: 0.1611
Epoch 6/10
60/60 [==============================] - 0s 168us/step - loss: 0.1369 - mse: 0.1369 - val_loss: 0.1314 - val_mse: 0.1314
Epoch 7/10
60/60 [==============================] - 0s 183us/step - loss: 0.1260 - mse: 0.1260 - val_loss: 0.1157 - val_mse: 0.1157
Epoch 8/10
60/60 [==============================] - 0s 186us/step - loss: 0.1367 - mse: 0.1367 - val_loss: 0.1095 - val_mse: 0.1095
Epoch 9/10
60/60 [==============================] - 0s 195us/step - loss: 0.1532 - mse: 0.1532 - val_loss: 0.1056 - val_mse: 0.1056
Epoch 10/10
60/60 [==============================] - 0s 214us/step - loss: 0.1450 - mse: 0.1450 - val_loss: 0.1019 - val_mse: 0.1019

In [ ]:
ratings.head()

   userId  soruId  rating  ... user_id_index soru_id_index  studentlevel
0       1       1       1  ...             0             0             3
1       1       2       1  ...             0             1             3
2       1       3       1  ...             0             2             3
3       1       4       1  ...             0             3             3
4       1       5       2  ...             0             4             3

[5 rows x 8 columns]

In [ ]:
ratings.loc[ratings["userId"] == 2, :].head(8)

    userId  soruId  rating  ... user_id_index soru_id_index  studentlevel
20       2       1       1  ...             1             0             4
21       2       2       1  ...             1             1             4
22       2       3       1  ...             1             2             4
23       2       4       1  ...             1             3             4
24       2       5       2  ...             1             4             4
25       2       6       2  ...             1             5             4
26       2       7       2  ...             1             6             4
27       2       8       2  ...             1             7             4

[8 rows x 8 columns]

In [ ]:
model.layers

[<keras.engine.input_layer.InputLayer at 0x7f969bf95ba8>,
 <keras.engine.input_layer.InputLayer at 0x7f969e417438>,
 <keras.engine.input_layer.InputLayer at 0x7f969bf71c88>,
 <keras.layers.embeddings.Embedding at 0x7f969e2d5400>,
 <keras.layers.embeddings.Embedding at 0x7f969bf71cc0>,
 <keras.layers.embeddings.Embedding at 0x7f969bf71048>,
 <keras.layers.merge.Concatenate at 0x7f969bf71c18>,
 <keras.layers.core.Flatten at 0x7f969bf71b00>,
 <keras.layers.core.Dropout at 0x7f969bf710f0>,
 <keras.layers.core.Dense at 0x7f969bf71f28>,
 <keras.layers.core.Dropout at 0x7f969bf7af60>,
 <keras.layers.core.Dense at 0x7f969bf68128>,
 <keras.layers.core.Dropout at 0x7f969bf68438>,
 <keras.layers.core.Dense at 0x7f969bf66fd0>,
 <keras.layers.core.Dropout at 0x7f969bf66f60>,
 <keras.layers.core.Dense at 0x7f969bf1afd0>]

In [ ]:
user_embed = pd.DataFrame(model.layers[3].get_weights()[0])
soru_embed = pd.DataFrame(model.layers[4].get_weights()[0])
level_embed = pd.DataFrame(model.layers[5].get_weights()[0])

In [ ]:
user_embed

         0         1         2   ...        47        48        49
0  0.017241  0.055932  0.038490  ... -0.039960  0.031903 -0.014014
1 -0.017003 -0.040365  0.002601  ... -0.043404  0.000292 -0.005004
2  0.002857 -0.035648 -0.045415  ... -0.016381  0.018638 -0.048113
3 -0.014778 -0.032282  0.011576  ...  0.036094  0.038965  0.013259

[4 rows x 50 columns]

In [ ]:
soru_embed

          0         1         2   ...        47        48        49
0  -0.032539  0.046921 -0.023891  ...  0.021406  0.001219 -0.041436
1   0.006556  0.014148  0.042235  ... -0.008946 -0.004254 -0.039827
2   0.013041 -0.004818  0.044497  ...  0.039922  0.044774  0.016475
3  -0.002530  0.038547 -0.027659  ...  0.028699  0.018385  0.015398
4  -0.030530 -0.005252 -0.000243  ... -0.024218 -0.025101  0.013188
5  -0.026592  0.035772  0.013703  ...  0.043271  0.019631  0.005602
6  -0.036510  0.036575 -0.029906  ... -0.022571  0.003862 -0.016744
7  -0.009538 -0.033011 -0.033521  ...  0.018574 -0.031781 -0.032828
8  -0.026093 -0.045074  0.028910  ... -0.032387  0.006260 -0.022408
9   0.027370  0.014867  0.004989  ...  0.025490  0.017106  0.000666
10  0.004478  0.027876  0.039671  ... -0.023926  0.047586 -0.039264
11  0.024459 -0.049473 -0.033184  ... -0.012617  0.012695 -0.000124
12 -0.019241  0.036400  0.003292  ... -0.055788 -0.051310 -0.021787
13 -0.024310 -0.010833 -0.039979  ... -0.046424 -0.052032 -0.046448
14  0.024548 -0.025342  0.006484  ... -0.043154 -0.050246  0.029543
15 -0.012621  0.021914 -0.040463  ...  0.012532 -0.025365 -0.036607
16 -0.044082 -0.043538  0.031671  ...  0.031041 -0.024275  0.021870
17 -0.025673 -0.037020  0.032356  ...  0.032301 -0.031404 -0.011424
18 -0.038678  0.019343 -0.048053  ...  0.023771 -0.034599 -0.015480
19  0.037643 -0.023121  0.016112  ... -0.003035  0.033644  0.032256

[20 rows x 50 columns]

In [ ]:
class color:
    PURPLE = '\033[95m'
    CYAN = '\033[96m'
    DARKCYAN = '\033[36m'
    BLUE = '\033[94m'
    GREEN = '\033[92m'
    YELLOW = '\033[93m'
    RED = '\033[91m'
    BOLD = '\033[1m'
    UNDERLINE = '\033[4m'
    END = '\033[0m'

In [ ]:
def findMostSimilarSoru(ratings, soru_embed, soru_id):
    
    selectedSoru_index = ratings.loc[ratings["soruId"] == soru_id, "soru_id_index"].unique()[0]
    
    selected_embedding = soru_embed.loc[selectedSoru_index, :].to_numpy()
    soru_embed = soru_embed.to_numpy()
    
    distance = np.zeros(soru_embed.shape[0])
    for i, soru in enumerate(soru_embed):
        distance[i] = 1 - spatial.distance.cosine(selected_embedding, soru)
    most_similars = np.argsort(distance)[-2:-11:-1]
    
    print("\n")
    print("Tasviye edilen Sorular")
    print("=" * 20)
    for sim in most_similars:
        rec_soru_genres = ratings.loc[ratings["soru_id_index"] == sim , "genres"].unique()[0]
        print(color.BOLD + color.BLUE + "{0} nolu soru ".format( sim))
    
    return None

In [ ]:
findMostSimilarSoru(ratings, soru_embed, 2)

Tasviye edilen Sorular
====================
7 nolu soru
8 nolu soru
3 nolu soru
0 nolu soru
9 nolu soru
10 nolu soru
17 nolu soru
6 nolu soru
2 nolu soru